.card {
    background: var(--task-field); 
    padding: 30px;
    border-radius: 24px;
    width: 350px;
    box-shadow: 0 15px 35px var(--auth-box-shadow);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.auth-text {
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 2px solid var(--task-button);
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: var(--top-button);
}

.form-button {
    width: 100%;
    padding: 12px;
    border-radius: 999px;
    border: none;
    background: var(--top-button);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover {
    background: var(--header-button-hover);
}

.footer {
    margin-top: 20px;
    font-size: 13px;
}

.footer a {
    color: var(--top-button);
    text-decoration: none;
    font-weight: 500;
}