* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.app {
    background: var(--bg-main);
    min-height: 100vh;
    padding: 20px;
    /* color: #5a2a4a; */
}

.app::before {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    opacity: 0.15;
}

.app::after {
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 32px;
    opacity: 0.15;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}