header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);
    padding: 12px 20px;
    border-radius: 16px;
    box-shadow: 0 6px 15px var(--auth-box-shadow);
    margin-bottom: 25px;
}

header .quote {
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-weight: 400;
    transition: opacity 1.5s ease-in-out;
}

header .user {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}

header button {
    background: var(--top-button);
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 500;
}

header button:hover {
    background: var(--header-button-hover);
}