@font-face {
    font-family: "Pacifico";
    src: url(/fonts/Pacifico-Regular.ttf) format("truetype");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);
    padding: 12px 20px;
    border-radius: 16px;
    box-shadow: 0 6px 15px var(--auth-box-shadow);
    margin-bottom: 25px;
}

header .quote {
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-weight: 400;
    text-wrap-mode: wrap;
    transition: opacity 1.5s ease-in-out;
}

header .navi {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
    font-size: 14px;
}

header button {
    background: var(--top-button);
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 500;
}

header button:hover {
    background: var(--header-button-hover);
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column-reverse;
    }

    .navi {
        align-self: flex-end;
    }

    .quote {
        align-self: flex-start;
    }
}