@charset "utf-8";

@import url(./themes.css);
@import url(./general.css);
@import url(./header.css);
@import url(./tasks.css);
@import url(./auth.css);
@import url(./taskForm.css);
@import url(./delete.css);
@import url(./settings.css);
@import url(./404.css);
@import url(./error.css);